/* font files */
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/dm-sans-v16-latin-regular.woff2") format("woff2");
}
/* dm-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/dm-sans-v16-latin-600.woff2") format("woff2");
}
/* dm-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/dm-sans-v16-latin-700.woff2") format("woff2");
}

/* CSS RESET — Josh Comeau */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* VARIABLES */
:root {
  /* colors */
  --neutral-900: hsl(233, 18%, 9%);
  --neutral-800: hsl(235, 14%, 15%);
  --neutral-700: hsl(235, 13%, 19%);
  --neutral-600: hsl(234, 14%, 29%);
  --neutral-200: hsl(240, 26%, 92%);
  --neutral-100: hsl(240, 24%, 96%);
  --neutral-0: hsl(0, 0%, 100%);

  --purple-400: hsl(274, 90%, 80%);
  --purple-500: hsl(274, 90%, 73%);
  --yellow-500: hsl(37, 100%, 50%);
  --orange-500: hsl(15, 99%, 67%);
  --orange-800: hsl(15, 99%, 43%);

  /* font family */
  --ff-headings: "DM Sans", "Segoe UI", Roboto, sans-serif;
  --ff-body: "DM Sans", "Segoe UI", Roboto, sans-serif;

  /* font weights */
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* fixed font sizes */
  --fs-15: 0.9375rem;
  --fs-18: 1.125rem;

  /* spacing */
  --spacing-200: 1rem; /* 16px */
  --spacing-250: 1.25rem; /* 20px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-400: 2rem; /* 32px */
  --spacing-500: 2.5rem; /* 40px */
  --spacing-600: 3rem; /* 48px */
  --spacing-800: 4rem; /* 64px */
  --spacing-1000: 5rem; /* 80px */

  /* border radius */
  --radius-10: 0.625rem; /* 10px */
  --radius-12: 0.75rem; /* 12px */
  --radius-16: 1rem; /* 16px */
  --radius-20: 1.25rem; /* 20px */
  --radius-24: 1.5rem; /* 24px */
  --radius-full: 999px; /* Full pill/circle */

  /* typography */
  --text-16: 1rem;
  --text-20: 1.25rem;
  --text-24: 1.5rem;
  --fluid-text-40-64: clamp(
    2.5rem,
    1.7346938775510203rem + 3.265306122448979vw,
    4rem
  );
}

/* Utility classes */
.d-flex {
  display: flex;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

/* headings */
.primary-heading {
  text-align: center;
  font-family: var(--ff-headings);
  font-size: 2.5rem;
  font-size: var(--fluid-text-40-64);
  font-weight: var(--fw-bold);
  line-height: 1.2;
  max-width: 13ch;
  margin-inline: auto;

  margin-block: var(--spacing-600);
}

/* grids & displays */
.grid-3cols {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: var(--spacing-200);
}

/* wrapper & containers */
.container {
  --max-width: 75rem;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
}

/* PAGE STYLES */

/* general styles */
body {
  /* css reset */
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  /* css reset */

  font-size: var(--text-16);
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  background-color: var(--neutral-0);
  color: var(--neutral-600);
}

.header {
  justify-content: space-between;
  align-items: center;
  margin-top: var(--spacing-400);
}

.text-area {
  width: 100%;
  height: calc(200 / 16 * 1rem);
  overflow-y: scroll;
  background-color: var(--neutral-100);
  color: var(--neutral-700);
  padding: var(--spacing-250);
  border-radius: var(--radius-12);
  border: 2px solid var(--neutral-200);
  resize: none;
}

.controls-wrapper {
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-inline: 1rem;
  gap: 0.5rem;
}

.controls-wrapper .left-controls {
  border: 0;
  padding: 0;
}

.results-card {
  padding: var(--spacing-200);
  border-radius: var(--radius-12);
  background-repeat: no-repeat;
  background-position: right;
}

.results-card:nth-child(1) {
  background-color: var(--purple-400);
  background-image: url(./images/pattern-character-count.svg);
}

.results-card:nth-child(2) {
  background-color: var(--yellow-500);
  background-image: url(./images/pattern-word-count.svg);
}

.results-card:nth-child(3) {
  background-color: var(--orange-500);
  background-image: url(./images/pattern-sentence-count.svg);
}

.numbers {
  font-family: var(--ff-headings);
  font-size: 2.5rem;
  font-size: var(--fluid-text-40-64);
  font-weight: var(--fw-bold);
  line-height: 1.2;
}

.results-card h3 {
  font-weight: var(--fw-regular);
}

.results-container {
  margin-top: var(--spacing-600);
  margin-bottom: var(--spacing-300);
}
